.login_contain {
    margin-top: 120px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #959595;
    width: 400px;
    font-family: 微軟正黑體;
    padding: 40px 5px;
}

.login_contain h1 {
    text-align: center;
}

.login_sub {
    margin: 0 auto;
    width: 120px;
}

.register_sub {
    margin: 0 auto;
    width: 50px;
}


/* ------- */