{%extends "base.html" %}
{% block mainbody %}
    {% if article %}
        {% for arti in article %}
            <form class="jumbotron" method="POST" action="/manage/edit/">
            {% csrf_token %}
                <input class="form-control" type="hidden" value="{{ arti.auto_increment_id }}" readonly name="article_id">
                
                <span class="badge badge-secondary">{{ arti.auto_increment_id }}</span>
                <h1 class="display-4">{{ arti.title }}</h1>
                <span class="badge badge-pill badge-primary">{{ arti.category.name }}</span>
                <p class="lead">{{ arti.account.username }}</p>
                <hr class="my-4">
                <p>{{ arti.content }}</p>
                <button type="submit" class="btn btn-primary btn-lg">編輯</button>
            </form>  
        {% endfor %}
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">親愛的{{ user }}，您好</h1>
                <p class="lead">您並沒有新增文章</p>
            </div>
        </div>
    {% endif %}
{% endblock %}